@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Proxima Nova';
  }

  .bg-focus {
    background-color: (90deg, rgb(218, 191, 124) 6.68%, rgb(228, 208, 160) 79.14%);
  }

  @keyframes recruiter {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  
  @keyframes recruiter-reverse {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
  }
  
  .animate-recruiter {
    animation: recruiter 10s linear infinite;
  }
  
  .animate-recruiter-reverse {
    animation: recruiter-reverse 10s linear infinite;
  }

  .slick-center .group {
    background-color: #0098B6;
    color: #ffffff; /* Change to any color */
    border: 1px solid #125667;
    transform: rotate(-2deg);
    margin-top: 7px;
    margin-bottom: 2px;
    padding-top: 38px;
    padding-bottom: 38px;
  }